@font-face {
    font-family: "Alexandria";
    src: url("https://cdn.dev.openprofile.app/fonts/alexandria/AlexandriaVariableFont.ttf") format("truetype");
}

@font-face {
    font-family: "NerdFont";
    src: url("https://cdn.dev.openprofile.app/fonts/jetbrainsmono/JetBrainsMonoNerdFontPropo-Regular.ttf") format("truetype");
}

:root {
    --color-precursor: #8515cf;
    --color-premium: #efbe0b;
    --color-publisher: #aaaaaa;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #222222 #111111;
    outline: none;
}

@media (max-width: 768px) {
    * {
        scrollbar-width: none;
    }
}

::selection {
    background: var(--color-accent);
    color: white;
}

body {
    min-height: 100vh;
    background-color: var(--color-base-200);
    font-family: "Alexandria";
}

hr {
    border-top: 1px solid #222222;
    border-radius: 2px;
    margin: 8px 0px;
}

.skeleton {
    background-color: #0c0c0c;

    background-image: linear-gradient(
        105deg,
        transparent 0%,
        transparent 35%,
        #15151525 45%,
        #15151550 50%,
        #15151525 55%,
        transparent 65%,
        transparent 100%
    );
}

.badge {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    text-align: center;
    align-content: center;
}

.badge .tooltip {
    text-transform: none;
    font-weight: normal;
}

.tooltip::before {
    padding: 8px 12px;
}

.tooltip-content {
    padding: 8px 12px;
}

.badge .tooltip-content {
    text-transform: none;
    font-weight: normal;
}

.dropdown.menu, .dropdown-content, .modal-box, .table, .guide {
    background-color: #111111;
    border: 1px solid #222222;
}

.font-nerdfont {
    font-family: "NerdFont";
    font-weight: normal;
}

.bg-precursor {
    background-color: var(--color-precursor);
}

.border-precursor {
    border-color: var(--color-precursor);
}

.bg-premium {
    background-color: var(--color-premium);
}

.border-premium {
    border-color: var(--color-premium);
}

.text-premium {
    color: var(--color-premium);
}

.text-publisher {
    color: var(--color-publisher);
}

.dock-active::after {
    display: none;
}

.btn-disabled {
    opacity: 0.5;
}

.link {
    color: var(--color-accent);
}

.bg-alt {
    background-color: #111111;
}

.border-alt {
    border-color: #222222;
}

.text-black {
    color: #080808
}

.mention {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: var(--color-base-200);
    padding: 0px 12px;
    gap: 8px;
    height: 26px;
    width: fit-content;
}

.mention::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: radial-gradient(
        ellipse,
        var(--aura-mention-secondary) 0%,
        var(--color-base-100) 50%,
        var(--aura-mention-primary) 100%
    );
    background-size: 100%;
    animation: var(--aura-mention-type) 8s linear infinite;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}

.mention::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
        ellipse,
        var(--aura-mention-secondary) 0%,
        var(--color-base-100) 50%,
        var(--aura-mention-primary) 100%
    );
    background-size: 100%;
    animation: var(--aura-mention-type) 8s linear infinite;
    pointer-events: none;
    opacity: 0.08;
}

.project-card {
    position: relative;
    height: 400px;
    width: 458px;
    flex-shrink: 0;
    border-radius: var(--radius-box);
    border: 1px solid var(--color-base-200);
    background-color: var(--color-base-100);
}

.project-card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: radial-gradient(
        ellipse,
        var(--aura-secondary) 0%,
        var(--color-base-100) 50%,
        var(--aura-primary) 100%
    );
    background-size: 100%;
    animation: var(--aura-type) 8s linear infinite;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}

.project-card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
        ellipse,
        var(--aura-secondary) 0%,
        var(--color-base-100) 50%,
        var(--aura-primary) 100%
    );
    background-size: 100%;
    animation: var(--aura-type) 8s linear infinite;
    pointer-events: none;
    opacity: 0.08;
}

.character-card {
    position: relative;
    height: 400px;
    width: 221px;
    flex-shrink: 0;
    border-radius: var(--radius-box);
    border: 1px solid var(--color-base-200);
    background-color: var(--color-base-100);
}

.character-card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: radial-gradient(
        ellipse,
        var(--aura-secondary) 0%,
        var(--color-base-100) 50%,
        var(--aura-primary) 100%
    );
    background-size: 100%;
    animation: var(--aura-type) 8s linear infinite;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}

.character-card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
        ellipse,
        var(--aura-secondary) 0%,
        var(--color-base-100) 50%,
        var(--aura-primary) 100%
    );
    background-size: 100%;
    animation: var(--aura-type) 8s linear infinite;
    pointer-events: none;
    opacity: 0.08;
}

@keyframes aura-flow-mention {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 221px 26px;
    }
}

@keyframes aura-flow-project {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 458px 400px;
    }
}

@keyframes aura-flow-character {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 221px 400px;
    }
}

@keyframes pulse {
    0% {
    }
    100% {
        background-position: 0px -1200px;
    }
}

@keyframes stable {
    0%, 100% {
        background-position: 100px 0px;
    }
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 80%;
    }
    0% {
        background-size: 100%;
    }
}

.character-card.skeleton {
    background-color: #0c0c0c;
    border: 1px solid #0c0c0c;
}

.character-card.skeleton::before {
    display: none;
}

.character-card.skeleton::after {
    display: none;
}