@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #080808;
    --color-base-200: #111111;
    --color-base-300: #222222;
    --color-base-content: #eaeaea;
    --color-primary: #ce1616;
    --color-primary-content: #ffffff;
    --color-secondary: #222222;
    --color-secondary-content: #eaeaea;
    --color-accent: #ce1616;
    --color-accent-content: #ffffff;
    --color-neutral: #222222;
    --color-neutral-content: #eaeaea;
    --color-info: #1540cf;
    --color-info-content: #000000;
    --color-success: #13a10e;
    --color-success-content: #ffffff;
    --color-warning: #e85b0f;
    --color-warning-content: #ffffff;
    --color-error: #c50f1f;
    --color-error-content: #ffffff;
    --radius-selector: 16px;
    --radius-field: 4px;
    --radius-box: 8px;
    --size-selector: 4px;
    --size-field: 4px;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
