# Folder containing the SSL .crt and .key
SSL="/ssl"

# Private APIs secret
API_SECRET=""

# Push notification vapid keys
VAPID_PUBLIC=""
VAPID_PRIVATE=""

# ————————————————————————————————————————————————————————————————
# Third-party integrations
# ———————————————————————————————————————————————————————————————— 
INTEGRATION_GOOGLE_ADSENSE="https://adsense.google.com/adsense"
INTEGRATION_GOOGLE_AUTH_CLIENT="https://console.cloud.google.com/auth/clients"
INTEGRATION_GOOGLE_AUTH_SECRET="https://console.cloud.google.com/auth/clients"

# config.isProduction === true
INTEGRATION_DISCORD_PUBLIC_KEY="https://discord.com/developers/applications"
INTEGRATION_DISCORD_CLIENT_ID="https://discord.com/developers/applications"
INTEGRATION_DISCORD_CLIENT_SECRET="https://discord.com/developers/applications"
INTEGRATION_DISCORD_BOT_TOKEN="https://discord.com/developers/applications"

# config.isProduction === false
INTEGRATION_DISCORD_DEV_PUBLIC_KEY="https://discord.com/developers/applications"
INTEGRATION_DISCORD_DEV_CLIENT_ID="https://discord.com/developers/applications"
INTEGRATION_DISCORD_DEV_CLIENT_SECRET="https://discord.com/developers/applications"
INTEGRATION_DISCORD_DEV_BOT_TOKEN="https://discord.com/developers/applications"