---
title: Verification
author: [AvatarKage]({SHORTLINK}/5719552362357773)
date: 2026-01-13
updated: 2026-01-13
---

# How to get verified on OpenProfile

Earlier last year, we announced that OpenProfile's verification system was changing from focusing on candidates with a notable external status to prioritizing the greater writing community. We understand how difficult it can be for original writers to get noticed, and with the age of generative AI upon us, it gets even worse and oftentimes doubtful. We want to ensure these creative minds of the community and beyond can be properly recognized for their efforts.

We're hoping this new system will help prioritize visibility for small authors and publishers by helping users find these accounts easier while keeping it balanced for everyone. We also want to ensure users are provided with the quality content they expect and deserve, so even if you are a long-time writer, you will need to pass certain criteria to be eligible for verification.

Please note that fandom authors or publishers, commonly known as fanfiction authors, are unable to be verified unless they own the fandom or are officially partnered with the intellectual property (IP), such as in the rare exception of being a promotional collaborator or guest writer.

## Verified Author
To qualify, accounts must meet at least one of the following requirements:

* **Published Book**: Have at least one professionally published and approved fiction book, either through a recognized publisher or self-published with proof of professional quality, including ISBN registration and distribution on recognized major platforms like Amazon, Kobo, or Barnes & Noble.
* **Published Script/Screenplay**: Have at least one professional credit as a writer on a scripted, fictional project, such as a film, TV episode, video game, audio drama, podcast, or official video production.
* **Established Portfolio**: Have at least three self-published and publicly accessible fictional literary works that match professional formatting standards and quality on major platforms such as Wattpad, Webtoon, or Tapas.
* **Awards/Recognition**: Be the recipient of an official award, nomination, or contest win for a fictional work from a recognized organization, or have professionally published fictional works recognized across literary journals, magazines, or websites.

## Verified Publisher (formerly Enterprise)
To qualify, accounts must meet all the following requirements:

* **Business Entity**: Be an officially registered* company or organization in a creative or content-related industry focused on fictional projects, such as writing, film, television, video games, or media production. *Sole proprietors or businesses pending registration are also eligible, but they will be marked as "Sole Proprietor" or "Pending Registration" for authenticity purposes.
* **Professional Distribution**: Published works that are distributed through recognized professional channels, such as major online retailers, bookstores, streaming platforms, or gaming platforms.
* **Editorial Standards**: Must have a clear process for reviewing, editing, and approving content before it is published, ensuring high-quality and original works.

## Additional Requirements
* **Active Account**: Account must be active within the last 6 months.
* **Profile Completeness**: Must have a completed user profile, including profile picture, username, and about me. Once verified, accounts will not be able to update their account type or username without support assistance.
* **Clean History**: Accounts with a proven history of plagiarism, fraud, or generative AI use will be permanently ineligible.

## Benefits of being verified
* **Profile Verification**: Get all your characters associated with your eligibility verified so people know they are official and the real deal. Once verified, profiles will not be able to have their url updated without support assistance.
* **Priority Visibility**: Rocket to the top of most search results with boosted algorithmic scores on eligible profiles.
* **Custom URLs**: Choose any URL you want for your profiles, even single words or names, so long they are associated with the character's public recognition.
* **More Coming Soon**: As OpenProfile develops, unlock additional perks and features, including priority support and vouching your illustrators so they can be seen as trustworthy commissionable artists by other users.

## Application
To submit an application, send an email to `support@openprofile.app` explaining why you believe you are eligible and for what type of verification. Include a copy or public URL of your literary works, and include any awards, literary credits, or links that may add more credibility to your application. For publishers, additionally include a copy of your editing and reviewing standards as well as your business registration.

OpenProfile will review submissions on a case-by-case basis. Verification typically takes 2–4 weeks depending on the volume of applications and the type of content submitted.

##### OpenProfile and its systems are still incomplete and are subject to change by the time of full release.