@plugin "daisyui/theme" {
    name: "coffee";
    color-scheme: "dark";
    --color-base-100: #17110e;
    --color-base-200: #211813;
    --color-base-300: #35261d;
    --color-base-content: #eee1d0;
    --color-primary: #c89b63;
    --color-primary-content: #1c130b;
    --color-secondary: #49352a;
    --color-secondary-content: #f0dfcb;
    --color-accent: #ffd700;
    --color-accent-content: #24170e;
    --color-neutral: #30231b;
    --color-neutral-content: #e8d8c5;
    --color-info: #8eafbd;
    --color-info-content: #15252c;
    --color-success: #91a77a;
    --color-success-content: #192414;
    --color-warning: #e0b36c;
    --color-warning-content: #30200b;
    --color-error: #d77e69;
    --color-error-content: #2b100b;
    --radius-selector: 8px;
    --radius-field: 6px;
    --radius-box: 12px;
    --size-selector: 4px;
    --size-field: 4px;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
