@plugin "daisyui/theme" {
    name: "kawaii";
    color-scheme: "light";
    --color-base-100: #fff0fa;
    --color-base-200: #ffe0f2;
    --color-base-300: #f5c8e8;
    --color-base-content: #542b50;
    --color-primary: #f472c5;
    --color-primary-content: #ffffff;
    --color-secondary: #c4b5fd;
    --color-secondary-content: #39265f;
    --color-accent: #ffb7c5;
    --color-accent-content: #71364f;
    --color-neutral: #6b4770;
    --color-neutral-content: #fff4fc;
    --color-info: #93c5fd;
    --color-info-content: #1e3a5f;
    --color-success: #86d7b5;
    --color-success-content: #164e3b;
    --color-warning: #fcd38d;
    --color-warning-content: #713f12;
    --color-error: #fb7185;
    --color-error-content: #ffffff;
    --radius-selector: 16px;
    --radius-field: 12px;
    --radius-box: 20px;
    --size-selector: 4px;
    --size-field: 4px;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
