@plugin "daisyui/theme" {
    name: "midnight";
    color-scheme: "dark";
    --color-base-100: #080a0e;
    --color-base-200: #11141b;
    --color-base-300: #222733;
    --color-base-content: #eaeaf0;
    --color-primary: #2a4ede;
    --color-primary-content: #ffffff;
    --color-secondary: #222630;
    --color-secondary-content: #eaeaf0;
    --color-accent: #2a4ede;
    --color-accent-content: #ffffff;
    --color-neutral: #222630;
    --color-neutral-content: #eaeaf0;
    --color-info: #456be0;
    --color-info-content: #ffffff;
    --color-success: #13a10e;
    --color-success-content: #ffffff;
    --color-warning: #e85b0f;
    --color-warning-content: #ffffff;
    --color-error: #2a4ede;
    --color-error-content: #ffffff;
    --radius-selector: 16px;
    --radius-field: 4px;
    --radius-box: 8px;
    --size-selector: 4px;
    --size-field: 4px;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
