@plugin "daisyui/theme" {
    name: "noon";
    color-scheme: "light";
    --color-base-100: #ffffff;
    --color-base-200: #f5f7fc;
    --color-base-300: #e5eaf5;
    --color-base-content: #1a1a1a;
    --color-primary: #2a4ede;
    --color-primary-content: #ffffff;
    --color-secondary: #e5eaf5;
    --color-secondary-content: #1a1a1a;
    --color-accent: #2a4ede;
    --color-accent-content: #ffffff;
    --color-neutral: #e5eaf5;
    --color-neutral-content: #1a1a1a;
    --color-info: #456be0;
    --color-info-content: #ffffff;
    --color-success: #13a10e;
    --color-success-content: #ffffff;
    --color-warning: #e85b0f;
    --color-warning-content: #ffffff;
    --color-error: #2a4ede;
    --color-error-content: #ffffff;
    --radius-selector: 16px;
    --radius-field: 4px;
    --radius-box: 8px;
    --size-selector: 4px;
    --size-field: 4px;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
