@plugin "daisyui/theme" {
    name: "spooky";
    color-scheme: "dark";
    --color-base-100: #09050d;
    --color-base-200: #100813;
    --color-base-300: #1d1022;
    --color-base-content: #d8cedd;
    --color-primary: #8f1029;
    --color-primary-content: #f8e9ed;
    --color-secondary: #29152f;
    --color-secondary-content: #d8c4e0;
    --color-accent: #793a96;
    --color-accent-content: #fff0ff;
    --color-neutral: #1b1420;
    --color-neutral-content: #c9bdcf;
    --color-info: #1540cf;
    --color-info-content: #000000;
    --color-success: #13a10e;
    --color-success-content: #ffffff;
    --color-warning: #e85b0f;
    --color-warning-content: #ffffff;
    --color-error: #ce1616;
    --color-error-content: #ffffff;
    --radius-selector: 2px;
    --radius-field: 2px;
    --radius-box: 3px;
    --size-selector: 4px;
    --size-field: 4px;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
